.xinxin{height: 1990px;}
.xinxin .xin_a{height: 90px;line-height: 90px;}
.xinxin .xin_a p{float: left;color: #b3afaf;font-size: 12px;margin-top: 10px;}
.xinxin .xin_a a{float: left;color: #b3afaf;font-size: 12px;}
.xinxin .xin_a a:hover{color: #000;}
.xinxin .xin_b{height: 96px;border: 1px solid #888;}
.xinxin .xin_b img{margin-left: 155px;margin-top: 41px;}
.xinxin .xin_b p{float: right;font-weight: bold;margin-top: 43px;margin-right: 282px;}
.xinxin .xin_b h3{position: absolute;margin-top: -36px;margin-left: 742px;}
.xinxin .xin_b h2{position: absolute;margin-left: 470px;color: #d4d4d4;margin-top: -45px;font-weight: lighter;}
.xinxin .xin_c{height: 130px;}
.xinxin .xin_c select{float: left; border-bottom: 2px solid #000;border-top: none;border-left: none;border-right: none;height: 30px;width: 120px;margin-top: 55px;margin-right: 40px;}
.xinxin .xin_c .jiage p{float: left;margin-top: 60px;margin-right: 5px;font-size: 12px;}
.xinxin .xin_c .liulan{float: right;}
.xinxin .xin_c .liulan p{float: left;margin-top: 60px;font-size: 12px;margin-left: 5px;}
.xinxin .xin_d{height: 1576px;}
.xinxin .xin_d .xin_d_a{height: 510px;}
.xinxin .xin_d .xin_d_a .rong a{color: #000;}
.xinxin .xin_d .xin_d_a .rong a:hover{color: #eee;}
.xinxin .xin_d .xin_d_a .fenge{margin-left: 94px;margin-right: 94px;}
.xinxin .xin_d .xin_d_a .rong2{float: left;width: 334px;height: 155px;text-align: center;margin-top: 35px;}
.xinxin .xin_d .xin_d_a .rong2 p{font-size: 14px;font-weight: bold;}
.xinxin .xin_d .xin_d_a .rong2 .dian{height: 15px;width: 15px;background: #000000;margin-left: 160px;margin-top: 20px;}
.xinxin .xin_d .xin_d_a .rong .rong2 .jia{width: 20px;height: 20px;border-radius: 20px;border: 1px solid #000;position: absolute;line-height: 20px;text-align: center;font-weight: bolder;margin-top: -105px;margin-left: 295px;}
.xinxin .xin_d .xuhao{width: 50px;height: 50px;background: #000;border-radius: 50px;margin-left: 573px;}
.xinxin .xin_d .xuhao p{color: #fff;font-size: 50px;position: absolute;margin-top: -24px;margin-left: 8px;}









