.yang{height: 2161px;}
.yang .yang_a{height: 170px;line-height: 170px;}
.yang .yang_a p{float: left;color: #b3afaf;font-size: 12px;margin-top: 10px;}
.yang .yang_a a{float: left;color: #b3afaf;font-size: 12px;}
.yang .yang_a a:hover{color: #000;}
.yang .yang_b{height: 50px;}
.yang .yang_b h3{float: left;margin-left: -195px;}
.yang .yang_c{height: 160px;border-top: 1px solid #a4a4a4;padding-top: 10px;}
.yang .yang_c p{font-size: 12px;color: #8e8e8e;height: 70px;}
.yang .yang_c .yang_c_1{height:85px;background: #efefef;float: left;width: 100%;}
.yang .yang_c h5{float: left;margin-top: 25px;width: 1040px;margin-left: 50px;}
.yang .yang_d{height: 860px;}
.yang .yang_d img{margin-top: 15px;margin-bottom: 20px;}
.yang .yang_d p{font-size: 14px;margin-bottom: 20px;color: #8e8e8e;}
.yang .yang_d h6{color: #8E8E8E;}
.yang .yang_e .yang_e_1{height: 30px;}
.yang .yang_e .yang_e_1 img{float: left;margin-top: 4px;}
.yang .yang_e h5{float: left;margin-left: 10px;}

.yang .yang_e .yang_e_2{width: 1200px;height: 380px;background: #efefef;margin-bottom: 18px;}
.yang .yang_e .yang_e_2 img{float: right;}
.yang .yang_e .yang_e_2 .zuoy{float: right;}
.yang .yang_e .yang_e_2 .zuoy h3{width: 525px;border-bottom: 1px solid #000;height: 44px;line-height: 44px;margin-right: 20px;padding-top: 90px;font-weight: lighter;}
.yang .yang_e .yang_e_2 .zuoy p{font-size: 10px;width: 680px;margin-right: 80px;color: #ababab;margin-top: 33px;}
.yang .yang_e .yang_e_2 .zuoy h4{font-size: 18px;margin-left: 550px;margin-top: 100px;border: 2px solid #000;width: 115px;height: 21px;line-height: 21px;text-align: center;}













