.sou{height: 643px;}
.sou .sou_a{height: 170px;line-height: 170px;}
.sou .sou_a p{float: left;color: #b3afaf;font-size: 12px;margin-top: 10px;}
.sou .sou_a a{float: left;color: #b3afaf;font-size: 12px;}
.sou .sou_a a:hover{color: #000;}
.sou .sou_b img{margin-left: 155px;margin-top: 41px;}
.sou .sou_b p{float: right;font-weight: bold;margin-top: 43px;margin-right: 282px;}
.sou .sou_b h3{position: absolute;margin-top: -36px;margin-left: 742px;}
.sou .sou_c{width: 1200px;text-align: center;margin-top: 120px;border-bottom: 1px dotted #bfbfbf;padding-bottom: 120px;}
.sou .sou_c p{font-size: 13px;font-weight: bold;}


